
@{
    ViewBag.Title = "Index";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">32 Items found </strong>


            </div>
        </header><!-- sect-heading -->

        <div class="row">


            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="badge badge-danger"> Mới </span>
                        <img src="~/Content/images/items/2.jpg">
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">Quần áo demo giá rẻ và tốt nhất với phong cách thời trang mới nhất dành cho nam giới</a>
                        <div class="price-wrap">
                            <span class="price">600000</span>
                            <small class="text-muted"></small>
                        </div> <!-- price-wrap.// -->

                        <p class="mb-2"> <small class="text-muted"></small></p>

                        <p class="text-muted ">Apple Inc</p>

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i></span>
                            <span class="tag">  </span>
                            <span class="tag">  </span>
                            <span class="tag">   </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">

                        </label>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->


        </div> <!-- row end.// -->


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
            </ul>
        </nav>


        <div class="box text-center">
            <p>Bạn đã tìm thấy những gì bạn đang tìm kiếm?</p>
            <a href="" class="btn btn-light">Có</a>
            <a href="" class="btn btn-light">Không</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->